<% content_for :main do %>

<script type="text/javascript">
  $(document).ready(function() {
    ready();
  });
</script>

<div class="text-center jumbotron">
  <h1>Yoga NOW Boulder</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div id="listing" class="well">
      <h3 class="text-center">Classes Happening NOW</h3>
      <div class="row buttons-holder">
        <div class="btn-group table-button" style="float: left">
          <button data-toggle="dropdown" class="btn btn-primary btn-block dropdown-toggle">Number of Classes Displayed <span class="caret"></span>
          </button>
          <ul id="num-classes-dropdown" class="dropdown-menu">
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(1, null); return false;">1</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(2, null); return false;">2</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(3, null); return false;">3</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(4, null); return false;">4</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(-1, null); return false;">Rest of Day</a></li>
          </ul>
        </div>

        <div class="btn-group table-button">
          <button data-toggle="dropdown" class="btn btn-primary btn-block dropdown-toggle">Starting Time <span class="caret"></span>
          </button>
          <ul id="start-time-dropdown" class="dropdown-menu">
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, -1); return false;">NOW!</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 5); return false;">5:00 am</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 6); return false;">6:00 am</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 7); return false;">7:00 am</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 8); return false;">8:00 am </a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 9); return false;">9:00 am</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 10); return false;">10:00 am</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 11); return false;">11:00 am</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 12); return false;">12:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 13); return false;">1:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 14); return false;">2:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 15); return false;">3:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 16); return false;">4:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 17); return false;">5:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 18); return false;">6:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 19); return false;">7:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 20); return false;">8:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 21); return false;">9:00 pm</a></li>
            <li><a href="javaScript:void(0);" onclick="getOrLoadData(null, 22); return false;">10:00 pm</a></li>
          </ul>
        </div>
      </div>


      <div id="loading" style="text-align: center">
        <%= image_tag 'ajax-loader.gif', id: 'spinner', alt: 'Loading schedule, please wait...' %>
      </div>
      <div class="table-holder">
        <table id="class_table" class="table table-striped">
          <caption class="info">
            <div id="info-div"></div>
            <div id="location-div"></div>
          </caption>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>About</h3>
    <p class="lead">Yoga NOW Boulder aims to display all the yoga classes
       happening in Boulder within the next few hours, or optionally for the rest of the day. This spares
       one the trouble of having to search through many studio sites
       just to find an interesting class. There are plans to support more studios as time goes on.</p>

    <%= image_tag 'divider.png', width: '100%' %>

    <div class="sutra-holder">
      <div>
        <h3>Study the Yoga Sutras!</h3>
        <p>Each time you come to this site, the next verse will be displayed. Or, use the buttons to navigate through the verses.</p>
      </div>
      <blockquote>
        <div id="sutra"></div>
      </blockquote>
      <div class="buttons-holder">
        <button id="previous" class="btn btn-primary table-button" style="float: left">Previous</button>
        <button id="next" class="btn btn-primary table-button">Next</button>
      </div>
    </div>
  </div>
</div>

<% end %>
