<% content_for :main do %>

<h1>Events</h1>

<p>In the future, there may be a listing of spiritual events in Boulder here. If you are interested in helping out with this, please <a href="/contact">contact me</a>!</p>

<% end %>