<% content_for :main do %>

<h1>Contact</h1>

<p>Have questions, comments, or complaints about Yoga NOW Boulder? Email <a href="mailto:aaron@yoganowboulder.com" target="_top">aaron@yoganowboulder.com</a>.</p>

<% end %>
