<% content_for :main do %>

<div>
<table class="table table-striped">
  <tbody>
    <tr>
      <td><a id="click-test" href="">1</a></td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>

</table>
</div>
<div id="dialogs" style="display: none"></div>
<% end %>