// import the CSS framework
@import "bootstrap";

$background: orange;
$btn-color: rgba(226, 93, 136, 0.79);
$navbar-color: rgba(128, 133, 17, 0.86);
$well-background: #E68A00;
$text-color: #FFE680;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: $background;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

ul li a {
  text-decoration: none !important;
}

tr td a {
  text-decoration: none !important;
  color: black !important;
}

.well {
  background-color: $well-background;
  border: black;
}

.jumbotron {
  background-color: $well-background;
  color: $text-color;
}
.navbar-inverse {
/*  background-color: $navbar-color;
  border-color: $navbar-color;*/
}

blockquote {
  border-color: $background;
}

h3 {
  color: $text-color;
}

h1 {
  color: $text-color;
}
